body {
    background-color: rgb(114, 174, 140);
    background-image: url("https://images.pexels.com/photos/1831234/pexels-photo-1831234.jpeg?auto=compress&cs=tinysrgb&w=1200");
}

.videoGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
    padding: 20px;
    margin-top: 50px;


}

.thumbnail {
    display: grid;
    width: 350px;
    height: 200px;

}

h1 {
    color: rgb(75, 40, 75);
    text-align: center;
}

.video-info {
    color: rgb(112, 7, 79)
}
.video-tile{
   display: flex;
   flex-direction: column;
   align-items: center;
    
}
video{
    width: 350px;
    height: 200px;
    border-radius: 5%;
}